<div id="header">

    <div id="logo">
        <div id="logo_text">
            <!-- class="logo_colour", allows you to change the colour of the text -->
            <h1><a href="index">Еже<span class="logo_colour">Дневник</span></a></h1>
        </div>
    </div>
    <div id="menubar">
        <ul id="menu">
            <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
            <li class="selected"><a href="index">Главная</a></li>
            <li><a href="heap">Записная книжка</a></li>
            <li><a href="about">Справка</a></li>
            <li><a href="contact">Контакты</a></li>
            <li><a href="registration">Регистрация</a></li>
        </ul>
    </div>

</div>