<div id="site_content">
    <h1>План на {{date}}</h1>

    <table>
        <tr class="head">
            <th>№</th>
            <th>Задача</th>
            <th>Плановое время</th>
            <th>Фактическое время</th>
            <th>Выполнено</th>
            <th>Заметки</th>
        </tr>
        <tr>
            <th>1</th>
            <td>Сделать домашнее задание по курсу "Python"</td>
            <td>
                <section class="container">
                    <div class="dropdown">
                        <select name="one" class="dropdown-select">
                            <option value="">Оценил на …</option>
                            <option value="30min">0ч.30мин.</option>
                            <option value="60min">1ч.</option>
                            <option value="90min">1ч.30мин.</option>
                            <option value="120min">2ч.</option>
                            <option value="150min">2ч.30мин.</option>
                            <option value="180min">3ч.</option>
                            <option value="210min">3ч.30мин.</option>
                            <option value="240min">4ч.</option>
                            <option value="270min">4ч.30мин.</option>
                            <option value="300min">5ч.</option>
                            <option value="330min">5ч.30мин.</option>
                            <option value="360min">6ч.</option>
                            <option value="390min">6ч.30мин.</option>
                            <option value="420min">7ч.</option>
                            <option value="450min">7ч.30мин.</option>
                            <option value="480min">8ч.</option>
                        </select>
                    </div>
                </section>
            </td>
            <td>
                <section class="container">
                    <div class="dropdown dropdown-notimplemented">
                        <select name="two" class="dropdown-select">
                            <option value="">Сделал за …</option>
                            <option value="30min">0ч.30мин.</option>
                            <option value="60min">1ч.</option>
                            <option value="90min">1ч.30мин.</option>
                            <option value="120min">2ч.</option>
                            <option value="150min">2ч.30мин.</option>
                            <option value="180min">3ч.</option>
                            <option value="210min">3ч.30мин.</option>
                            <option value="240min">4ч.</option>
                            <option value="270min">4ч.30мин.</option>
                            <option value="300min">5ч.</option>
                            <option value="330min">5ч.30мин.</option>
                            <option value="360min">6ч.</option>
                            <option value="390min">6ч.30мин.</option>
                            <option value="420min">7ч.</option>
                            <option value="450min">7ч.30мин.</option>
                            <option value="480min">8ч.</option>
                        </select>
                    </div>
                </section>
            </td>
            <td>
                <input type="checkbox" id="demo1">
                <label for="demo1" data-on-label="Да" data-off-label="Нет"></label>
            </td>
            <td>Есть вопрос по ДЗ</td>
        </tr>
        <tr class="even">
            <th>2</th>
            <td>Заказать корм коту с наименьшей ценой</td>
            <td>
                <section class="container">
                    <div class="dropdown">
                        <select name="one" class="dropdown-select">
                            <option value="">Оценил на …</option>
                            <option value="30min">0ч.30мин.</option>
                            <option value="60min">1ч.</option>
                            <option value="90min">1ч.30мин.</option>
                            <option value="120min">2ч.</option>
                            <option value="150min">2ч.30мин.</option>
                            <option value="180min">3ч.</option>
                            <option value="210min">3ч.30мин.</option>
                            <option value="240min">4ч.</option>
                            <option value="270min">4ч.30мин.</option>
                            <option value="300min">5ч.</option>
                            <option value="330min">5ч.30мин.</option>
                            <option value="360min">6ч.</option>
                            <option value="390min">6ч.30мин.</option>
                            <option value="420min">7ч.</option>
                            <option value="450min">7ч.30мин.</option>
                            <option value="480min">8ч.</option>
                        </select>
                    </div>
                </section>
            </td>
            <td>
                <section class="container">
                    <div class="dropdown dropdown-notimplemented">
                        <select name="two" class="dropdown-select">
                            <option value="">Сделал за …</option>
                            <option value="30min">0ч.30мин.</option>
                            <option value="60min">1ч.</option>
                            <option value="90min">1ч.30мин.</option>
                            <option value="120min">2ч.</option>
                            <option value="150min">2ч.30мин.</option>
                            <option value="180min">3ч.</option>
                            <option value="210min">3ч.30мин.</option>
                            <option value="240min">4ч.</option>
                            <option value="270min">4ч.30мин.</option>
                            <option value="300min">5ч.</option>
                            <option value="330min">5ч.30мин.</option>
                            <option value="360min">6ч.</option>
                            <option value="390min">6ч.30мин.</option>
                            <option value="420min">7ч.</option>
                            <option value="450min">7ч.30мин.</option>
                            <option value="480min">8ч.</option>
                        </select>
                    </div>
                </section>
            </td>
            <td>
                <input type="checkbox" id="demo2">
                <label for="demo2" data-on-label="Да" data-off-label="Нет"></label>
            </td>
            <td>В почте есть промокод. Найти.</td>
        </tr>
        <tr>
            <th>3</th>
            <td>Проверить личную почту</td>
            <td>
                <section class="container">
                    <div class="dropdown">
                        <select name="one" class="dropdown-select">
                            <option value="">Оценил на …</option>
                            <option value="30min">0ч.30мин.</option>
                            <option value="60min">1ч.</option>
                            <option value="90min">1ч.30мин.</option>
                            <option value="120min">2ч.</option>
                            <option value="150min">2ч.30мин.</option>
                            <option value="180min">3ч.</option>
                            <option value="210min">3ч.30мин.</option>
                            <option value="240min">4ч.</option>
                            <option value="270min">4ч.30мин.</option>
                            <option value="300min">5ч.</option>
                            <option value="330min">5ч.30мин.</option>
                            <option value="360min">6ч.</option>
                            <option value="390min">6ч.30мин.</option>
                            <option value="420min">7ч.</option>
                            <option value="450min">7ч.30мин.</option>
                            <option value="480min">8ч.</option>
                        </select>
                    </div>
                </section>
            </td>
            <td>
                <section class="container">
                    <div class="dropdown dropdown-notimplemented">
                        <select name="two" class="dropdown-select">
                            <option value="">Сделал за …</option>
                            <option value="30min">0ч.30мин.</option>
                            <option value="60min">1ч.</option>
                            <option value="90min">1ч.30мин.</option>
                            <option value="120min">2ч.</option>
                            <option value="150min">2ч.30мин.</option>
                            <option value="180min">3ч.</option>
                            <option value="210min">3ч.30мин.</option>
                            <option value="240min">4ч.</option>
                            <option value="270min">4ч.30мин.</option>
                            <option value="300min">5ч.</option>
                            <option value="330min">5ч.30мин.</option>
                            <option value="360min">6ч.</option>
                            <option value="390min">6ч.30мин.</option>
                            <option value="420min">7ч.</option>
                            <option value="450min">7ч.30мин.</option>
                            <option value="480min">8ч.</option>
                        </select>
                    </div>
                </section>
            </td>
            <td>
                <input type="checkbox" id="demo3">
                <label for="demo3" data-on-label="Да" data-off-label="Нет"></label>
            </td>
            <td>Жду письмо от ALiexpress</td>
        </tr>
        <tr class="even">
            <th>4</th>
            <td>Сходить и получить посылку №121232312323</td>
            <td>
                <section class="container">
                    <div class="dropdown">
                        <select name="one" class="dropdown-select">
                            <option value="">Оценил на …</option>
                            <option value="30min">0ч.30мин.</option>
                            <option value="60min">1ч.</option>
                            <option value="90min">1ч.30мин.</option>
                            <option value="120min">2ч.</option>
                            <option value="150min">2ч.30мин.</option>
                            <option value="180min">3ч.</option>
                            <option value="210min">3ч.30мин.</option>
                            <option value="240min">4ч.</option>
                            <option value="270min">4ч.30мин.</option>
                            <option value="300min">5ч.</option>
                            <option value="330min">5ч.30мин.</option>
                            <option value="360min">6ч.</option>
                            <option value="390min">6ч.30мин.</option>
                            <option value="420min">7ч.</option>
                            <option value="450min">7ч.30мин.</option>
                            <option value="480min">8ч.</option>
                        </select>
                    </div>
                </section>
            </td>
            <td>
                <section class="container">
                    <div class="dropdown dropdown-notimplemented">
                        <select name="two" class="dropdown-select">
                            <option value="">Сделал за …</option>
                            <option value="30min">0ч.30мин.</option>
                            <option value="60min">1ч.</option>
                            <option value="90min">1ч.30мин.</option>
                            <option value="120min">2ч.</option>
                            <option value="150min">2ч.30мин.</option>
                            <option value="180min">3ч.</option>
                            <option value="210min">3ч.30мин.</option>
                            <option value="240min">4ч.</option>
                            <option value="270min">4ч.30мин.</option>
                            <option value="300min">5ч.</option>
                            <option value="330min">5ч.30мин.</option>
                            <option value="360min">6ч.</option>
                            <option value="390min">6ч.30мин.</option>
                            <option value="420min">7ч.</option>
                            <option value="450min">7ч.30мин.</option>
                            <option value="480min">8ч.</option>
                        </select>
                    </div>
                </section>
            </td>
            <td>
                <input type="checkbox" id="demo4">
                <label for="demo4" data-on-label="Да" data-off-label="Нет"></label>
            </td>
            <td>Почта работает и в ВСК</td>
        </tr>
    </table>

</div>