<div id="content_header"></div>
<div id="site_content">
    <div id="content">
        <!-- insert the page content here -->
        <h1>О ежедневнике</h1>
        <p>Сайт представляет интерфейс, где в табличном виде перечислен список запланированных дел/задач на выбранный
            день с
            возможностью фиксации выполненного.</p>
        <p>На отдельной странице находится список потенциальных дел/задач в "куче" как аналог записной книжки.</p>
        <p>Из этой кучи пользователь может выбрать любую задачу и запланировать ее на конкретный день.</p>
        <p>Из списка дел пользователь может переместить задачу обратно в кучу или запланировать сразу на другой
            день(опция).</p>
        <p>При открытии главной страницы отображается список дел/задач на текущий день.</p>
    </div>
</div>